<div class="modal-header">
    <h4 class="info-modal-title" id="body_temperature-info" jhiTranslate="hcPortalApp.info.body_temperature">Body Temperature</h4>
</div>
<div class="info-modal">
    <h6>
        The normal human body temperature range is typically stated as 36.5–37.5 °C .Individual body temperature depends upon the age,
        exertion, infection, sex, time of day, and reproductive status of the subject, the place in the body at which the measurement is
        made, the subject's state of consciousness (waking or sleeping), activity level, and emotional state.
    </h6>
</div>
<div class="modal-footer info-modal-footer">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
