<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVsBodyTemperatureLabel" jhiTranslate="hcPortalApp.vsBodyTemperature.home.createOrEditLabel">Create or edit a Vs Body Temperature</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!vsBodyTemperature.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="vsBodyTemperature.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.vsBodyTemperature.celsius" for="field_celsius">Celsius</label>
            <output name="btOut" id="btOutId">39</output>
            <input type="range" class="form-control" name="celsius" id="field_celsius" min="34" max="44" step="0.5"
                oninput="btOutId.value = field_celsius.value" [(ngModel)]="vsBodyTemperature.celsius" required/>
            <div [hidden]="!(editForm.controls.celsius?.dirty && editForm.controls.celsius?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.celsius?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.celsius?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hcPortalApp.vsBodyTemperature.measurmentdate" for="field_measurmentdate">Measurmentdate</label>
            <div class="d-flex">
                <input id="field_measurmentdate" type="datetime-local" class="form-control" name="measurmentdate" [(ngModel)]="vsBodyTemperature.measurmentdate"
                       required/>

            </div>
            <div [hidden]="!(editForm.controls.measurmentdate?.dirty && editForm.controls.measurmentdate?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.measurmentdate?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
