<div class="modal-header">
    <h4 class="info-modal-title" id="respiratory_rate-info" jhiTranslate="hcPortalApp.info.respiratory_rate">Respiratory
        Rate</h4>
</div>
<div class="info-modal">
    <h6>
        The respiratory rate in humans is measured when a person is at rest and involves counting the number of breaths
        for one minute by counting how many times the chest rises. An optical breath rate sensor can be used for
        monitoring patients during a magnetic resonance imaging scan. Respiration rates may increase with fever,
        illness, or other medical conditions.
    </h6>
</div>
<div class="modal-footer info-modal-footer">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
