<div class="modal-header">
    <h4 class="info-modal-title" id="blood_sugar-info" jhiTranslate="hcPortalApp.info.blood_sugar">Blood Sugar</h4>
</div>
<div class="info-modal">
    <h6>
        Commonly referred to as diabetes, is a group of metabolic disorders in which there are high blood sugar levels over a prolonged
        period. Symptoms of high blood sugar include frequent urination, increased thirst, and increased hunger.
    </h6>
</div>
<div class="modal-footer info-modal-footer">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
