<div class="modal-header">
    <h4 class="info-modal-title" id="blood_pressure-info" jhiTranslate="hcPortalApp.info.blood_pressure">Blood Pressure</h4>
</div>
<div class="info-modal">
    <h6>
        When your heart beats, it squeezes and pushes blood through your arteries to the rest of your body.
        This force creates pressure on those blood vessels, and that's your systolic blood pressure.
        A normal systolic pressure is below 120. A reading of 140 or more is high blood pressure.
    </h6>
</div>
<div class="modal-footer info-modal-footer">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
