<div class="modal-header">
    <h4 class="info-modal-title" id="spo2-info" jhiTranslate="hcPortalApp.info.spo2">SpO2</h4>
</div>
<div class="info-modal">
    <h6>SpO2 is an estimate of arterial oxygen saturation, or SaO2,
        which refers to the amount of oxygenated haemoglobin in the blood.
        Haemoglobin is a protein that carries oxygen in the blood.
        It is found inside red blood cells and gives them their red colour.</h6>
</div>
<div class="modal-footer info-modal-footer">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
